.wrapper {
  min-height: 100vh;
  color: white;
  /* You can add global styles to this file, and also import other style files */
  margin: 0px;
  background-image: url("/assets/background/demon.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}

.top-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.dimmer {
  background: #000;
  opacity: 0.8;
  position: fixed;
  /* important to use fixed, not absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //display: none;
  //margin-top: 100px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  flex-direction: column;
  /* may not be necessary */
}

.menu {
  padding: 5px 30px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.4);
  font-size: 24px !important;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s ease-in;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 40px;

  &:hover {
    background: rgba(255, 255, 255, 0.5);
  }
}

.logo {
  margin: 0 15px;
  display: flex;
  align-items: center;
}
