<div style="padding-top: 100px;min-height: calc(100vh - 100px);display: flex;justify-content: center; align-items: center;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mob-hide" style="font-size: 36px;justify-content: center;display: flex;align-items: center;padding: 0 75px;">
        BabyDragons is a collection of 666 randomly generated characters, Baby Dragon is the pet of DemonKids and some of them will be used to Airdrop the DemonKids holder.
      </div>
      <div class="col-md-4">
        <div class="navigation-wrapper">
          <div class="keen-slider keen-slider--vertical" #sliderRef>
            <div class="keen-slider__slide">
              <img src="assets/babydragons/unnamed (1).jpg" alt="" style="width: 100%;height: auto;">
            </div>
            <div class="keen-slider__slide ">
              <img src="assets/babydragons/unnamed (2).jpg" alt="" style="width: 100%;height: auto;">
            </div>
            <div class="keen-slider__slide ">
              <img src="assets/babydragons/unnamed (3).jpg" alt="" style="width: 100%;height: auto;">
            </div>
            <div class="keen-slider__slide ">
              <img src="assets/babydragons/unnamed (4).jpg" alt="" style="width: 100%;height: auto;">
            </div>
            <div class="keen-slider__slide ">
              <img src="assets/babydragons/unnamed (5).jpg" alt="" style="width: 100%;height: auto;">
            </div>
            <div class="keen-slider__slide ">
              <img src="assets/babydragons/unnamed (6).jpg" alt="" style="width: 100%;height: auto;">
            </div>
            <div class="keen-slider__slide ">
              <img src="assets/babydragons/unnamed (7).jpg" alt="" style="width: 100%;height: auto;">
            </div>
            <div class="keen-slider__slide ">
              <img src="assets/babydragons/unnamed (8).jpg" alt="" style="width: 100%;height: auto;">
            </div>
            <div class="keen-slider__slide ">
              <img src="assets/babydragons/unnamed.jpg" alt="" style="width: 100%;height: auto;">
            </div>
          </div>
          <div class="dots">
            <button
              (click)="slider.moveToIdx(i)"
              *ngFor="let slide of dotHelper; let i = index"
              [class]="'dot ' + (i === currentSlide ? 'active' : '')"></button>
          </div>
        </div>
        <!-- <img style="height: auto; width: 100%;max-width: 500px" src="assets/demonkids/image_6483441.JPG" alt=""> -->
      </div>
      <div class="col-md-8 desk-hide" style="font-size: 24px;justify-content: center;display: flex;align-items: center;padding: 20px 20px;">
        BabyDragons is a collection of 666 randomly generated characters, Baby Dragon is the pet of DemonKids and some of them will be used to Airdrop the DemonKids holder.
      </div>
    </div>
  </div>
</div>
