<div style="padding-top: 83px;min-height: calc(100vh - 83px);display: flex;justify-content: center; align-items: center;">
  <div class="container">
    <div class="row">
      <div class="col-8" style="font-size: 36px;justify-content: center;display: flex;align-items: center;padding: 0 75px;">
        Tough Lions is a collection of 1111 characters generated randomly. Each of them which are on the Cronos Chain has a unique identity and rarity
      </div>
      <div class="col-4">
        <div class="navigation-wrapper">
          <div class="keen-slider keen-slider--vertical" #sliderRef>
            <div class="keen-slider__slide">
              <img src="../../assets/lions/unnamed (1).jpg" alt="" style="width: 100%;height: auto;">
            </div>
            <div class="keen-slider__slide">
              <img src="../../assets/lions/unnamed (2).jpg" alt="" style="width: 100%;height: auto;">
            </div>
            <div class="keen-slider__slide">
              <img src="../../assets/lions/unnamed (3).jpg" alt="" style="width: 100%;height: auto;">
            </div>
            <div class="keen-slider__slide">
              <img src="../../assets/lions/unnamed (4).jpg" alt="" style="width: 100%;height: auto;">
            </div>
            <div class="keen-slider__slide">
              <img src="../../assets/lions/unnamed (5).jpg" alt="" style="width: 100%;height: auto;">
            </div>
            <div class="keen-slider__slide">
              <img src="../../assets/lions/unnamed (6).jpg" alt="" style="width: 100%;height: auto;">
            </div>
            <div class="keen-slider__slide">
              <img src="../../assets/lions/unnamed.jpg" alt="" style="width: 100%;height: auto;">
            </div>

          </div>
          <div class="dots">
            <button
              (click)="slider.moveToIdx(i)"
              *ngFor="let slide of dotHelper; let i = index"
              [class]="'dot ' + (i === currentSlide ? 'active' : '')"></button>
          </div>
        </div>
        <!-- <img style="height: auto; width: 100%;max-width: 500px" src="../../assets/demonkids/image_6483441.JPG" alt=""> -->
      </div>
    </div>
  </div>
</div>
