.wrapper {
  min-height: 100vh;
  color: white;
  /* You can add global styles to this file, and also import other style files */
  margin: 0px;
  background-image: url("/assets/background/image_123986672.JPG");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}

.top-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.menu {
  padding: 1px 30px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.4);
  font-size: 24px !important;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s ease-in;
  letter-spacing: 2px;

  &:hover {
    background: rgba(255, 255, 255, 0.5);
  }
}

.logo {
  font-size: 46px !important;
  margin: 0 15px;
}
