<div class="wrapper">
  <div class="top-bar">
    <div class="logo" style=" margin-left: 20px;cursor: pointer;" [routerLink]="['/toughlions']">Tough Lions
      <img src="assets/Layer_1.png" style="width: 100%;height: auto;max-width: 100px" alt="">
    </div>
    <div class="desk-hide" style=" margin-right: 20px; display: flex; align-items: center; position: relative;"
      (click)="openMenu()">
      <i style="font-size: 30px;" class="fa-solid fa-bars"></i>
    </div>
    <div class="mob-hide" style="font-size: 30px; margin-right: 20px; display: flex; align-items: center;">
      <div class="menu" [routerLink]="['/toughlions/about']" routerLinkActive="router-link-active"> ABOUT </div>
      <div class="menu" [routerLink]="['/toughlions/roadmap']"> Road map </div>
      <div class="menu" [routerLink]="['/toughlions/hypehogs']"> hype hogs </div>
      <a class="menu" style="color: #fff" target="_blank" href="https://discord.com/invite/8ssS2RWZvn"> <i class="fa-brands fa-discord"></i> </a>
      <a class="menu" style="color:#fff;" target="_blank" href="https://twitter.com/ToughLions1111"> <i class="fa-brands fa-twitter"></i> </a>
      <a class="menu" style="color:#fff;" target="_blank" [routerLink]="['/demonkids']">
        <img src="assets/Untitled_Artwork (2).png" style="width: 100%;height: auto;max-width: 30px" alt="">
      </a>

    </div>
  </div>
  <div class="dimmer" *ngIf="showMenu" (click)="clickOut()">
    <div [routerLink]="['/toughlions/about']">ABOUT</div>
    <div [routerLink]="['/toughlions/roadmap']">Road map</div>
    <div [routerLink]="['/toughlions/hypehogs']">hype hogs</div>
    <a style="color: #fff;text-decoration: none" target="_blank" href="https://discord.com/invite/8ssS2RWZvn"><i class="fa-brands fa-discord"> </i> discord</a>
    <a style="color:#fff;text-decoration: none" target="_blank" href="https://twitter.com/ToughLions1111"><i class="fa-brands fa-twitter"></i> twitter</a>
    <a style="color:#fff;text-decoration: none" target="_blank" [routerLink]="['/demonkids']">
      <img src="assets/Untitled_Artwork (2).png" style="width: 100%;height: auto;max-width: 30px" alt="">
      Demon Kids
    </a>
  </div>
  <router-outlet></router-outlet>
</div>
