<div style="padding-top: 100px;min-height: calc(100vh - 100px);display: flex;justify-content: center; align-items: center;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mob-hide" style="font-size: 36px;justify-content: center;display: flex;padding: 0 75px;flex-direction: column;">
        <div>
          <div style="font-size:72px">
            Hype Hogs
          </div>
          Hype Hogs is a collection of 3333 characters, and each of them have various rarities and different appearances! This will be a benefit for Tough Lions holders as all 1111 Hype Hogs will be airdropped to the Tough Lions holders before the remaining 2222 are released for sale. Discover your ridding animal!
        </div>
      </div>
      <div class="col-md-4">
        <div class="navigation-wrapper">
          <div class="keen-slider keen-slider--vertical" #sliderRef>
            <div class="keen-slider__slide">
              <img src="assets/hogs/unnamed (1).jpg" alt="" style="width: 100%;height: auto;">
            </div>
            <div class="keen-slider__slide">
              <img src="assets/hogs/unnamed (2).jpg" alt="" style="width: 100%;height: auto;">
            </div>
            <div class="keen-slider__slide">
              <img src="assets/hogs/unnamed (3).jpg" alt="" style="width: 100%;height: auto;">
            </div>
            <div class="keen-slider__slide">
              <img src="assets/hogs/unnamed (4).jpg" alt="" style="width: 100%;height: auto;">
            </div>
            <div class="keen-slider__slide">
              <img src="assets/hogs/unnamed (5).jpg" alt="" style="width: 100%;height: auto;">
            </div>
            <div class="keen-slider__slide">
              <img src="assets/hogs/unnamed (6).jpg" alt="" style="width: 100%;height: auto;">
            </div>
            <div class="keen-slider__slide">
              <img src="assets/hogs/unnamed.jpg" alt="" style="width: 100%;height: auto;">
            </div>

          </div>
          <div class="dots">
            <button
              (click)="slider.moveToIdx(i)"
              *ngFor="let slide of dotHelper; let i = index"
              [class]="'dot ' + (i === currentSlide ? 'active' : '')"></button>
          </div>
        </div>
        <!-- <img style="height: auto; width: 100%;max-width: 500px" src="assets/demonkids/image_6483441.JPG" alt=""> -->
      </div>
      <div class="col-md-8 desk-hide" style="font-size: 24px;justify-content: center;display: flex;align-items: center;padding: 20px 20px">
        <div>
          <div style="font-size:32px">
            Hype Hogs
          </div>
          Hype Hogs is a collection of 3333 characters, and each of them have various rarities and different appearances! This will be a benefit for Tough Lions holders as all 1111 Hype Hogs will be airdropped to the Tough Lions holders before the remaining 2222 are released for sale. Discover your ridding animal!
        </div>
      </div>
    </div>
  </div>
</div>
