@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

body {
  font-family: 'Koulen', cursive;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
