@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

body {
  font-family: 'Koulen', cursive;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .mob-hide {
    display: none !important;
  }

  .logo {
    font-size: 32px !important;
  }
}

@media only screen and (min-width: 768px) {
  .desk-hide {
    display: none !important;
  }

  .logo {
    font-size: 46px !important;
  }
}
