<div style="padding-top: 100px;min-height: calc(100vh - 100px);display: flex;justify-content: center; align-items: center;">
  <div class="container">
    <div class="row">
      <div class="col-md-9 mob-hide" style="font-size: 32px;justify-content: center;display: flex;align-items: center;padding: 0 75px;line-height:1">
        Phase 1: Sale Phase <br><br>

        20% sold — Air drop some CRO and Tough Lions to the holders<br><br>

        40% sold — Create a Tough Lions website and arrange fan art events<br><br>

        60% sold — Tough Lions holders will be able to check the rarity of each lion<br><br>

        80% sold — Start creating Lion’s pet called "Hype Hogs" for Tough Lion holders<br><br>

        100% sold—Big celebration in the community and vote to determine the direction of the future collection
      </div>
      <div class="col-md-12 desk-hide" style="font-size: 24px;justify-content: center;display: flex;align-items: center;padding: 20px 20px;line-height:1">
        Phase 1: Sale Phase <br><br>

        20% sold — Air drop some CRO and Tough Lions to the holders<br><br>

        40% sold — Create a Tough Lions website and arrange fan art events<br><br>

        60% sold — Tough Lions holders will be able to check the rarity of each lion<br><br>

        80% sold — Start creating Lion’s pet called "Hype Hogs" for Tough Lion holders<br><br>

        100% sold—Big celebration in the community and vote to determine the direction of the future collection
      </div>

    </div>
  </div>
</div>
